In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import datetime

%matplotlib inline

df = pd.read_csv('/Users/eladg/Documents/Git/NYC_Data_IPA/Taxi/allTaxiData.csv',
                dtype = {'pickup_day_of_year': np.uint16,
                         'pickup_day_of_Month': np.uint8, 'pickup_day_of_week': np.uint8,
                         'pickup_month': np.uint8, 'pickup_hour': np.uint8, 'passenger_count': np.uint8,
                        'trip_time_in_secs': np.uint16, 'trip_distance': np.float16, 'pickup_longitude': np.float,
                        'pickup_latitude': np.float, 'dropoff_longitude': np.float, 'dropoff_latitude': np.float},
                parse_dates = [0])

In [2]:
df.head()

,pickup_date,pickup_day_of_year,pickup_day_of_Month,pickup_day_of_week,pickup_month,pickup_hour,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2013-07-01 01:47:00,182,1,0,7,1,1,300,1.169922,-74.013229,40.714718,-74.003494,40.725285
1,2013-07-01 01:39:00,182,1,0,7,1,1,780,4.171875,-73.980865,40.763947,-73.933884,40.767677
2,2013-07-01 01:36:00,182,1,0,7,1,1,840,2.980469,-74.007568,40.740898,-73.980118,40.713985
3,2013-07-01 01:53:00,182,1,0,7,1,1,240,0.750000,-73.985466,40.718342,-73.982841,40.727016
4,2013-07-01 01:47:00,182,1,0,7,1,1,720,1.759766,-74.005630,40.726448,-74.003906,40.742031

In [4]:
df['pickup_date'].apply(lambda x: x.hour).max()

23

In [3]:
type(df['pickup_date'][0])

pandas.tslib.Timestamp